.header__logo {
  max-width: 142px;
  height: 33px;
  background-image: url(../../../images/Vectorlogotip.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 142px 33px;
}

@media screen and (max-width: 890px) {
  .header__logo {
    margin-left: 24px;
    padding-top: 40px;
    padding-bottom: 10px;
    max-width: 103px;
    background-size: 103px 25px;
  }
}
